.AddPlayer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    border: 1px solid #00bc8c;
    border-radius: 5px;
    padding: 10px;
    background: #98f9c1;
}

.AddPlayer__input {
    text-align: center;
    width: 40%;
    border: 1px solid #00bc8c;
    border-radius: 3px;
    height: 25px;
    padding: 0 10px;
    margin-right: 15px;
}

.AddPlayer__submit {
    width: 15%;
    text-align: center;
    background: #d988fc;
    cursor: pointer;
    border: 1px solid #6f42c1;
    border-radius: 3px;
}