.PlayersList {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 10px auto;
    width: 100%;
    border: 1px solid #FF66CC;
    border-radius: 5px;
    padding: 10px;
    background: #f9b8f3;
}