.Player {
    background: #f9b8f3;
    border: 1px solid #FF66CC;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
}

.Player__name {
    width: 50%;
}

.Player__score {
    width: 25%;
}

.Player__button {
    width: 5%;
    text-align: center;
    background: #d988fc;
    cursor: pointer;
    border: 1px solid #6f42c1;
    border-radius: 3px;
}